mixin header()
    +b.HEADER.header
        .type
            +e.content
                +e.A.logo-content(href="")
                    +e.logo(src=require('./../images/logo.svg'), alt='Logo')
                    +e.logo-desc(src=require('./../images/desc.svg'), alt='Description')
                +e.call
                    +e.call-image(src=require('./../images/call.svg'), alt='Call')
                    +e.call-content
                        +e.call-social
                            +e.A.call-social-link(href="")
                                +e.call-social-image(src=require('./../images/telegram.png'), alt='Telegram')
                            +e.A.call-social-link(href="")
                                +e.call-social-image(src=require('./../images/viber.png'), alt='Viber')
                            +e.A.call-social-link(href="")
                                +e.call-social-image(src=require('./../images/whatsup.png'), alt='WhatsUp')
                        +e.call-contact
                            +e.call-contact-phone
                                +e.call-contact-phone-item
                                    +e.call-contact-phone-image(src=require('./../images/a1.png'), alt='A1')
                                    +e.A.call-contact-phone-link(href="") +375-29-124-99-99
                                +e.call-contact-phone-item
                                    +e.call-contact-phone-image(src=require('./../images/a1.png'), alt='A1')
                                    +e.A.call-contact-phone-link(href="") +375-29-124-99-99
                            +e.call-contact-email
                                +e.call-contact-phone-item
                                    +e.call-contact-phone-image(src=require('./../images/email.png'), alt='A1')
                                    +e.A.call-contact-phone-link(href="") 1249999@rambler.ru
                            +e.call-contact-clock
                                +e.call-contact-phone-item
                                    +e.call-contact-phone-image(src=require('./../images/clock.png'), alt='A1')
                                    +e.A.call-contact-phone-link 9:00 - 18:00 без выходных
                +e.lang-type.desctop-lang
                    +e.lang-type-item
                        +e.language-image(src=require('./../images/rus.png'), alt='A1')
                        +e.language-title рус
                    +e.language.desc
                        +e.A.language-item(href="")
                            +e.language-image(src=require('./../images/rus.png'), alt='A1')
                            +e.language-title рус
                        +e.A.language-item(href="")
                            +e.language-image(src=require('./../images/eng.png'), alt='A1')
                            +e.language-title eng
                        +e.A.language-item(href="")
                            +e.language-image(src=require('./../images/eng.png'), alt='A1')
                            +e.language-title eng2
                +e.A.burger(href="#")
                    +e.SPAN.burger-line
                    +e.SPAN.burger-line
            +e.menu
                .container
                    +e.menu-list
                        +e.BUTTON.menu-item.unbutton.header__menu-item_active(id="home") главная
                        +e.BUTTON.menu-item.unbutton(id="services") услуги
                        +e.BUTTON.menu-item.unbutton(id="team") команда
                        +e.BUTTON.menu-item.unbutton(id="blog") блог
                        +e.BUTTON.menu-item.unbutton(id="contact") контакты
                    +e.UL.menu-soc
                        +e.LI.menu-soc-item
                            +e.A.menu-soc-link(href="")
                                +e.menu-image(src=require('./../images/fb.svg'), alt='A1')
                        +e.LI.menu-soc-item
                            +e.A.menu-soc-link(href="")
                                +e.menu-image(src=require('./../images/in.svg'), alt='A1')
                        +e.LI.menu-soc-item
                            +e.A.menu-soc-link(href="")
                                +e.menu-image(src=require('./../images/vk.svg'), alt='A1')
                        +e.LI.menu-soc-item
                            +e.A.menu-soc-link(href="")
                                +e.menu-image(src=require('./../images/inst.svg'), alt='A1')
                    +e.lang-type.mobile-lang
                        +e.lang-type-item
                            +e.language-image(src=require('./../images/rus.png'), alt='A1')
                            +e.language-title рус
                        +e.language.mob
                            +e.A.language-item(href="")
                                +e.language-image(src=require('./../images/rus.png'), alt='A1')
                                +e.language-title рус
                            +e.A.language-item(href="")
                                +e.language-image(src=require('./../images/eng.png'), alt='A1')
                                +e.language-title eng
